<!DOCTYPE html>

<html>
    <head>
        <title>서울대학교 맛집 소개 </title>
        <meta charset="utf-8"> 
        <link href = "css/main style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&family=Sunflower:wght@300;500&display=swap" rel="stylesheet">
    </head>


    <body>
        <h1>Where to Eat</h1>

        <div class="search form">
            <form>
                <input type= "text" name="검색" class="text-field" placeholder="검색어를 입력하세요", size=50>
                <button class="btn">검색</button>
            </form>
        </div>

        <div class="background">
            <div class = "message">
                <h2>Find A Place To Eat</h2>
                <p>See reviews of restaurants and decide where to go</p>
                
            </div>
        </div>

        <div class = "link-box">
            <h3>Choose your Menu</h3>

            <div class = "italian common">
                 <a href="/pages/page1">Pizza & Pasta</a>
                    <img class= "menu" src = "/pizza.jpg">
                          
            </div>
    
                
            
            <div class = "Japanese common">
                <a href="/pages/page3">Japanese Food</a>
                    <img class= "menu"src = "/japan.jpg">
                
            </div>
            

            
            <div class = "Korean common">
                 <a href="/pages/page2">Korean Food</a>
                    <img class= "menu" src = "/korea.jpg">
                    
            </div>
            
    

            
            <div class = "Cafe common">
                 <a href="/pages/page4">Drinks & Desserts</a>
                    <img class= "menu" src = "/cafe.jpg">
                
            </div>
     
        </div>
            
        
       

    </body>

</html>